*
  // border: 1px solid black
  box-sizing: border-box
  color: rgba(#000, 0.8)
$medium-green: #6eb799
$hover-grey: rgb(246, 246, 246)
body
  margin: 0px
  padding: 0px
  white-space: nowrap
  transition-duration: 1s

.title_wrap
  padding: 25px 15px 15px 25px
  display: flex
  justify-content: space-between
  font-size: 6px
  color: black
  .title
    font-size: 20px
    font-family: 'Cutive Mono', monospace
    color: rgba(#000, 1)

table
  border-spacing: 1
  border-collapse: collapse
  border-radius: 4px
  text-align: right
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
  font-size: 14px
  // border-bottom: 1px solid #e3f1d5
  td, th
    padding: 10px
  thead tr
    padding: 10px
    background: rgb(110, 183, 153)
 
  tbody tr:first-child
    border-bottom: 1px solid #e3f1d5
  thead tr th:nth-child(1), tbody tr td:nth-child(1)
    text-align: left
    border-right: 1px solid #e3f1d5
  thead tr th:first-child
    border-top-left-radius: 4px
  thead tr th:last-child
    border-top-right-radius: 4px

.container
  width: 400px
  border-top: 1px solid rgb(169, 169, 179)
  padding: 25px
  align-items: center
  justify-content: space-around
  display: flex
  flex-direction: column
  font-size: 14px
  transition-duration: 1s
  font-family: 'Cutive Mono', monospace
  .loader
    span
      display: inline-block
      width: 5px
      height: 20px
      background-color: rgb(110, 183, 153)
      &:nth-child(1)
        animation: grow 1s ease-in-out infinite
      &:nth-child(2)
        animation: grow 1s ease-in-out 0.15s infinite
      &:nth-child(3)
        animation: grow 1s ease-in-out 0.3s infinite
      &:nth-child(4)
        animation: grow 1s ease-in-out 0.45s infinite
  #hourStatsChart
    display: none
  .time_format_btn_wrap
    margin-bottom: 15px
    display: flex
    .time_format_btn
      padding: 10px
      border: 1px solid rgba(#000, 0.3)
      border-right: none
      color: rgba(#000, 0.7)
      cursor: pointer
      &:first-child
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
      &:last-child
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        border-right: 1px solid rgba(#000, 0.3)
      &:hover
        background-color: $hover-grey
    .time_format_btn-select
      background-color: $medium-green
      border-color: $medium-green
      color: white
      cursor: default
      &:hover
        background-color: $medium-green
  .change_time_btn_wrap
    margin-top: 15px
    display: flex
    position: relative
    .download_btn_wrap
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 150%
      display: flex
      justify-content: space-around
      align-items: center
      .download_loader
        display: none
        transition: all 0.7s ease-in-out
        border: 5px solid #ebebeb
        border-bottom-color: #26B8BF
        width: 20px
        height: 20px
        border-radius: 100%
        animation: spin 1s linear infinite
      .feather-download
        cursor: pointer
      .feather-download-ready
        stroke: $medium-green
    .change_time_btn
      padding: 10px
      border: 1px solid rgba(#000, 0.3)
      color: rgba(#000, 0.7)
      cursor: pointer
      border-right: none
      &:hover
        background-color: $hover-grey
    .backward_time_btn
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
    .forward_time_btn
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      border-right: 1px solid rgba(#000, 0.3)
    .change_time_btn-prohibit
      opacity: 0.7
      cursor: default
      &:hover
        background-color: white
  .download_wording
    font-size: 10px
    line-height: 12px
    width: 400px
    height: 0px
    display: block
    opacity: 0
    text-align: center
    transition-duration: 700ms
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
  .download_wording-show
    opacity: 1
    padding: 12px
    margin-top: 10px
    height: initial 
.footer
  padding: 10px 25px 10px 25px
  border-top: 1px solid rgb(169, 169, 179)
  display: flex
  justify-content: space-between
  align-items: center
  .link_wrap a
    margin-right: 16px
    &:last-child
      margin-right: 0px
  .version
    color: rgb(169, 169, 179)


@keyframes grow
  0%,
  100%
    transform: scaleY(1)
  50%
    transform: scaleY(1.8)

@keyframes spin
  0% 
    transform: rotate(0deg)   
  100% 
    transform: rotate(360deg)