*
  // border: 1px solid black
  box-sizing: border-box
$medium-green: #6eb799
$hover-grey: rgb(246, 246, 246)
body
  margin: 0px
  padding: 0px
  white-space: nowrap
  transition-duration: 1s

.title_wrap
  padding: 25px 25px 5px 25px
  display: flex
  justify-content: space-between
  font-size: 6px
  color: black
  .title
    font-size: 18px
    font-family: 'Cutive Mono', monospace

table
  border-spacing: 1
  border-collapse: collapse
  border-radius: 6px
  text-align: right
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
  td, th
    padding: 16px
  thead tr
    padding: 16px
    background: rgb(110, 183, 153)
    font-size: 16px
  tbody tr
    border-bottom: 1px solid #e3f1d5
  thead tr th:nth-child(1), tbody tr td:nth-child(1)
    text-align: left
    border-right: 1px solid #e3f1d5

.container
  padding: 25px
  align-items: center
  justify-content: space-around
  display: flex
  flex-direction: column
  font-size: 16px
  transition-duration: 1s
  font-family: 'Cutive Mono', monospace
  .loader
    span
      display: inline-block
      width: 5px
      height: 20px
      background-color: rgb(110, 183, 153)
      &:nth-child(1)
        animation: grow 1s ease-in-out infinite
      &:nth-child(2)
        animation: grow 1s ease-in-out 0.15s infinite
      &:nth-child(3)
        animation: grow 1s ease-in-out 0.3s infinite
      &:nth-child(4)
        animation: grow 1s ease-in-out 0.45s infinite
  #hourStatsChart
    display: none
    width: 500px
  .time_format_btn_wrap
    margin-bottom: 15px
    display: flex
    .time_format_btn
      padding: 10px
      border: 1px solid rgba(#000, 0.3)
      border-right: none
      color: rgba(#000, 0.7)
      cursor: pointer
      &:first-child
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
      &:last-child
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        border-right: 1px solid rgba(#000, 0.3)
      &:hover
        background-color: $hover-grey
    .time_format_btn-select
      background-color: $medium-green
      border-color: $medium-green
      color: white
      cursor: default
      &:hover
        background-color: $medium-green
  .change_time_btn_wrap
    margin-top: 15px
    display: flex
    .change_time_btn
      padding: 10px
      border: 1px solid rgba(#000, 0.3)
      color: rgba(#000, 0.7)
      cursor: pointer
      border-right: none
      &:first-child
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
      &:last-child
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        border-right: 1px solid rgba(#000, 0.3)
      &:hover
        background-color: $hover-grey
    .change_time_btn-prohibit
      opacity: 0.7
      cursor: default
.footer
  padding: 10px 25px 10px 25px
  border-top: 1px solid rgb(169, 169, 179)
  display: flex
  justify-content: space-between
  align-items: center
  .link_wrap a
    margin-right: 16px
    &:last-child
      margin-right: 0px
  .version
    color: rgb(169, 169, 179)


@keyframes grow
  0%,
  100%
    -webkit-transform: scaleY(1)
    -ms-transform: scaleY(1)
    -o-transform: scaleY(1)
    transform: scaleY(1)

  50%
    -webkit-transform: scaleY(1.8)
    -ms-transform: scaleY(1.8)
    -o-transform: scaleY(1.8)
    transform: scaleY(1.8)