* {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8); }

body {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  transition-duration: 1s; }

.title_wrap {
  padding: 25px 15px 15px 25px;
  display: flex;
  justify-content: space-between;
  font-size: 6px;
  color: black; }
  .title_wrap .title {
    font-size: 20px;
    font-family: "Cutive Mono", monospace;
    color: black; }

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 4px;
  text-align: right;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 14px; }
  table td, table th {
    padding: 10px; }
  table thead tr {
    padding: 10px;
    background: #6eb799; }
  table tbody tr:first-child {
    border-bottom: 1px solid #e3f1d5; }
  table thead tr th:nth-child(1), table tbody tr td:nth-child(1) {
    text-align: left;
    border-right: 1px solid #e3f1d5; }
  table thead tr th:first-child {
    border-top-left-radius: 4px; }
  table thead tr th:last-child {
    border-top-right-radius: 4px; }

.container {
  width: 400px;
  border-top: 1px solid #a9a9b3;
  padding: 25px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transition-duration: 1s;
  font-family: "Cutive Mono", monospace; }
  .container .loader span {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #6eb799; }
    .container .loader span:nth-child(1) {
      animation: grow 1s ease-in-out infinite; }
    .container .loader span:nth-child(2) {
      animation: grow 1s ease-in-out 0.15s infinite; }
    .container .loader span:nth-child(3) {
      animation: grow 1s ease-in-out 0.3s infinite; }
    .container .loader span:nth-child(4) {
      animation: grow 1s ease-in-out 0.45s infinite; }
  .container #hourStatsChart {
    display: none; }
  .container .time_format_btn_wrap {
    margin-bottom: 15px;
    display: flex; }
    .container .time_format_btn_wrap .time_format_btn {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-right: none;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer; }
      .container .time_format_btn_wrap .time_format_btn:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .container .time_format_btn_wrap .time_format_btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-right: 1px solid rgba(0, 0, 0, 0.3); }
      .container .time_format_btn_wrap .time_format_btn:hover {
        background-color: #f6f6f6; }
    .container .time_format_btn_wrap .time_format_btn-select {
      background-color: #6eb799;
      border-color: #6eb799;
      color: white;
      cursor: default; }
      .container .time_format_btn_wrap .time_format_btn-select:hover {
        background-color: #6eb799; }
  .container .change_time_btn_wrap {
    margin-top: 15px;
    display: flex;
    position: relative; }
    .container .change_time_btn_wrap .data_progress_bar_wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -100%; }
    .container .change_time_btn_wrap .change_time_btn {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      border-right: none; }
      .container .change_time_btn_wrap .change_time_btn:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .container .change_time_btn_wrap .change_time_btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-right: 1px solid rgba(0, 0, 0, 0.3); }
      .container .change_time_btn_wrap .change_time_btn:hover {
        background-color: #f6f6f6; }
    .container .change_time_btn_wrap .change_time_btn-prohibit {
      opacity: 0.7;
      cursor: default; }
      .container .change_time_btn_wrap .change_time_btn-prohibit:hover {
        background-color: white; }

.footer {
  padding: 10px 25px 10px 25px;
  border-top: 1px solid #a9a9b3;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .link_wrap a {
    margin-right: 16px; }
    .footer .link_wrap a:last-child {
      margin-right: 0px; }
  .footer .version {
    color: #a9a9b3; }

@keyframes grow {
  0%,
100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1); }
  50% {
    -webkit-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    transform: scaleY(1.8); } }

/*# sourceMappingURL=style.css.map */
